header {
    background-color: rgb(20, 20, 20);
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav a {
    font-weight: 300;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    margin-right: 5%;
    font-size: 1rem;
}

#current-link {
    font-weight: bold;
}

.navbar-icons {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-icons svg {
    cursor: pointer;
    margin-right: 5%;
    width: 2rem;
    height: 2rem;
}

.icon-background {
    background-color: rgb(200, 50, 50);
    padding: 2px;
    border-radius: 5px;
}