@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap%27");
@import "vars";

button {
  border: 0;
  background: $main-text-color;
}
h1,
h2,
h3,
h4,
h5,
p,
a {
  margin: 0;
}
ul {
  list-style-type: none;
  padding-left: 0px;
}
header {
  width: 0;
  height: 0;
}
html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: $main-bg-color;
  color: $main-text-color;
  font-family: "Poppins", sans-serif;
}

#root {
  width: 100%;
  height: 100%;
}

// SCROLLBAR

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: $alternative-bg-color;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(142, 142, 142, 0.8);
}

// GENERICS
.d-flex {
  display: flex;
}

.d-inline-flex {
  display: inline-flex;
}

.align-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.flex-column {
  flex-direction: column;
}

.fw-500 {
  font-weight: 500;
}

// CAROUSEL CONFIGS
.carousel.carousel-slider .control-arrow:hover {
  background: inherit !important;
}

.carousel.carousel-slider .control-arrow {
  padding-left: 0 !important;
  width: 49px;
}

.carousel .control-arrow:before,
.carousel.carousel-slider .control-arrow:before {
  margin: 0 !important;
  border: 0 !important;
  content: none !important;
}

.carousel .control-arrow,
.carousel.carousel-slider .control-arrow {
  opacity: 1 !important;
}

.carousel .slide img {
  height: 635px !important;
  object-fit: cover;
  object-position: top;
}

.control-dots {
  background: $main-bg-color-alpha;
  border-radius: $border-radius-60;
  backdrop-filter: blur($background-blur);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 30px !important;
  width: auto !important;
  margin-left: auto !important;
  margin-right: auto !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  gap: 7px;
}

/*  */
.app-container {
  width: 100%;
  height: 100%;
  display: flex;
  overflow-y: scroll;
  flex-direction: column;
}

.preset-button {
  border-radius: $border-radius-60;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    filter: brightness(95%);
    cursor: pointer;
  }
  & > svg {
    width: 80%;
    height: 80%;
  }
  &.play {
    background-color: $main-text-color;
    & > svg {
      margin-left: 4px;
    }
  }
  &.info {
    background-color: $main-text-color-alpha;
    color: $main-text-color;
    & > svg {
      margin-top: -1px;
      margin-left: 2px;
    }
  }
  &.add {
    background-color: $main-text-color-alpha;
    color: $main-text-color-alpha;
  }
}

.carousel-container {
  margin-top: 5rem;
  position: relative;
  width: 100%;

  & .carousel-root .carousel {
    border-bottom-right-radius: $border-radius-30;
    border-bottom-left-radius: $border-radius-30;
  }

  & .carousel-body {
    margin-top: 7px;
    gap: 15px;
    & .logo {
      width: 80%;
      & img {
        width: 100%;
        height: 100%;
      }
    }
    & .inner-text {
      font-size: 14px;
    }
  }

  & .carousel-header {
    overflow: hidden;
    max-height: 650px;
    min-height: 650px;
  }

  & .carousel-indicator {
    cursor: pointer;
    height: 10px;
    width: 10px;
    background-color: $alternative-bg-color;
    border-radius: 60px;
    transition: 0.3s ease-in-out;
    &.selected {
      background-color: $main-text-color;
      width: 30px;
    }
  }

  & .carousel-image {
    min-width: 100%;
    padding: 0;
    margin: 0;
  }
  & .carousel-button {
    display: flex;
    width: 44px;
    height: 100%;
    z-index: 250;
    & > div {
      border-radius: $border-radius-60;
      background: $main-bg-color-alpha;
      backdrop-filter: blur($background-blur);
      width: 44px;
      height: 44px;
      margin: auto;
      align-items: center;
      justify-content: center;
    }
    &:disabled {
      opacity: 0 !important;
    }
    &.right {
      right: 0;
      padding-right: 5px !important;
    }
    &.left {
      left: 0;
      padding-right: 0 !important;
      padding-left: 5px !important;
    }
  }
}

//MOVIE GRID STYLES
.movies-grid {
  padding: 0 2vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 2rem;

  & h2 {
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
  }
  &.big h2 {
    font-size: 1.5rem;
  }

  &.big .card {
    width: 11.4rem;
    height: 15rem;
    & img {
      width: 11.4rem;
      height: 15rem;
    }
  }

  .grid-container {
    display: inline-flex;
    overflow-x: auto;
    width: 100%;
  }

  .card {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-right: 2%;
    width: 160px;
    height: 240px;
    cursor: pointer;

    &:hover {
      transition: 0.3s ease;
      button {
        display: flex;
      }
    }

    img {
      border-radius: $border-radius-24;
      width: 160px;
      height: 240px;
    }

    button {
      display: none;
      -webkit-box-shadow: 0px 0px 40px -10px rgba(0, 0, 0, 1);
      -moz-box-shadow: 0px 0px 40px -10px rgba(0, 0, 0, 1);
      box-shadow: 0px 0px 40px -10px rgba(0, 0, 0, 1);
      position: absolute;
      scale: 0.85;
      cursor: pointer;
      opacity: 1;
      z-index: 1;
      margin-left: auto;
      margin-right: 1rem;
      margin-top: auto;
      margin-bottom: 1rem;
      &:hover {
        filter: brightness(95%);
      }
    }
  }
}
// NAVBAR CONFIGS
.navbar-content {
  background: $main-bg-color;
  height: 5rem;
  width: calc(100% - 10px - 4vw);
  padding: 0 2vw;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
  position: fixed;
  &.sticky {
    top: 0px;
    transition: all 0.3s ease;
    &.blur {
      background: $main-bg-color-alpha;
      backdrop-filter: blur($background-blur);
    }
  }
  &.hidden {
    top: -5rem;
    transition: all 0.3s ease;
    &.blur {
      background: $main-bg-color-alpha;
      backdrop-filter: blur($background-blur);
    }
  }
}
.navbar-logo {
  width: 10vw;
  display: flex;
  cursor: pointer;
  justify-content: center;
}
.navbar-options {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  & .nav-items-list {
    background: $main-bg-color-alpha;
    backdrop-filter: blur($background-blur);
    margin: 0;
    left: -100%;
    height: 100vh;
    width: calc(100% - 10px - 4vw);
    padding: 0 2vw;
    top: 5rem;
    transition: all 0.5s ease;
    position: absolute;
    z-index: 999;
    &.active {
      left: 0;
    }
    & .nav-item {
      padding: 0 10px;
      text-decoration: none;
      color: #fff;
      font-size: 0.75rem;
    }
  }
  & .navbar-profile {
    display: inline-flex;
    justify-content: space-evenly;
    cursor: pointer;
  }
}
.navbar-icon {
  width: 30px;
  height: 30px;
}

/*
@media only screen and (min-width: 500px) {

// NAVBAR CONFIGS
    .navbar-content {
        background-color: rgb(20, 20, 20);
        width: 100vw;
        height: 60px;
        display: inline-flex;
        align-items: center;
    }
    .navbar-logo {
        width: 10vw;
        display: flex;
        cursor: pointer;
        justify-content: center;
    }
    .navbar-options {
        width: 90vw;
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        text-decoration: none;
        & .nav-items-list {
            display: inline-flex;
            & .nav-item {
                padding: 0 10px;
                text-decoration: none;
                color: #fff;
                font-size: 0.75rem;
            }
        }
        & .navbar-profile {
            display: inline-flex;
            width: 10vw;
            justify-content: space-evenly;
            cursor: pointer;
        }
    }
    .navbar-icon {
        width: 20px;
        height: 20px;
    }
}
*/

//MOVIE_INFO CONFIGS
.movie-body {
  & p {
    margin-top: 2rem;
    font-size: 1rem;
    font-weight: 300;
  }

  width: 90%;
  margin: auto;

  & .movie-cover {
    position: relative;
    width: 100%;
    height: 40%;
    align-items: flex-end;
    justify-content: center;

    & img:first-of-type {
      width: 100%;
      height: 100%;
      border-radius: $border-radius-30;
    }

    .movie-cover-logo {
      position: absolute;
      width: 30%;
      margin-bottom: 2rem;
    }
  }

  .movie-params {
    margin-top: 2rem;
    justify-content: center;

    & span {
      background-color: $alternative-bg-color;
      backdrop-filter: blur($background-blur);
      margin-right: 1rem;
      padding: 0.3rem 1rem;
      border-radius: $border-radius-24;
    }
  }

  .controls {
    margin-top: 2rem;
    justify-content: center;

    & button {
      margin-right: 0.5rem;
    }
  }

  .movie-images {
    margin-top: 2rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 2%;

    & img {
      border-radius: $border-radius-24;
      width: 100%;
    }
  }
}
