@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap%27");
@import "vars";

button {
    border: 0;
    background: $main-text-color;
}

html,
body,
#root {
    margin: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background-color: $main-bg-color;
    color: $main-text-color;
    font-family: "Poppins", sans-serif;
}

/*  */
.app-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.jumbotron-container {
    & .jumbotron-image {
        padding: 0;
        margin: 0;
        & .background-img {
            width: 100%;
        }
    }
    & .jumbotron-button {
        position: absolute;
        top: 50%;
        border-radius: $border-radious-60;
        background: $main-bg-color-alpha;
        &.right {
            right: 0;
        }
        &.left {
            left: 0;
        }
    }
}
